<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
    <h1>Strona główna</h1>
    <a href="/list">Wyświetl wszystkie produkty</a><br>
    <a href="/list?kategoria=spozywcze">Wyświetl produkty z kategorii artykuły spożywcze</a><br>
    <a href="/list?kategoria=gospodarstwo">Wyświetl produkty z kategorii artykuły gospodarstwa domowego</a><br>
    <a href="/list?kategoria=inne">Wyświetl produkty z kategorii inne</a><br>

</body>
</html>