<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    </head>
<body>

<h1 th:if="${category == 'spozywcze'}" th:text="|Produkty z kategorii Artykuły spożywcze|"></h1>
<h1 th:if="${category == 'gospodarstwo'}" th:text="|Produkty z kategorii Artykuły gospodarstwa domowego|"></h1>
<h1 th:if="${category == 'inne'}" th:text="|Produkty z kategorii Inne|"></h1>
<h1 th:if="${category == ''}" th:text="|Wszystkie produkty|"></h1>


<ul>
    <li th:each="product: ${products}" th:if="${category == ''}" th:text="|Produkt: ${product.name}, Cena: ${product.price}"></li>
    <li th:each="product: ${products}" th:if="${product.category.description == category}" th:text="|Produkt: ${product.name}, Cena: ${product.price}"></li>
</ul>
<p th:text="|Suma wszystkich produktów: ${price} złoty|"></p>

</body>
</html>